:root {
    --primaryRed: #c91a27;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body  {
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
    background-color: #111111;
    color: #fff;
}

ul {
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 10vw;

}

.logo {
    height: 2rem;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2.5rem;
}

.navItem {
    font-size: .8rem;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer;
}

.navItem:hover {
    color: var(--primaryRed);
    font-weight: 500;
}

/* Hero */

#hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 3rem;
    padding: 0 10vw;

}

.hero__left img{
    height: 35rem;
}
.hero__right {
    width: 60%;
}


.name {
    color: var(--primaryRed);
    font-size: 1rem;
    font-weight: 700;
    
}

.profession {
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: .7rem;
}

.info {
    color: #868e96;
    font-size: .7rem;
    margin-bottom: 2rem;
    padding-right: 5rem;
}

.primary-btn {
    background-color: var(--primaryRed);
    color: #fff;
    padding: .6rem 1.5rem;
    border-radius: 2px;
    font-size: .7rem;
    text-transform: uppercase;
}

/* About */

#about {
    height: 80vh;
    position: relative;
    padding: 5rem 10vw;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 3fr 1fr 1.5fr 1.5fr;
    gap: 1rem;
}

.about-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 50%;
    background-color: #181818;
    z-index: -1;
}

.about-card {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.about-card .icon {
    font-size: 3rem;
    margin-bottom: .5rem;
}

.about-card .title {
    font-size: 1.2rem;
    margin-bottom: .5rem;
}

.about-card .card-info {
    color: #868e96;
    margin-bottom: 1rem;
}

.link {
    font-size: .8rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: .5rem;
    color: var(--primaryRed);
}

.card1 {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: #1e1e1e;
}

.card1 ion-icon , .card3 ion-icon{
    color: var(--primaryRed);
}

.card2 .card-link{
    color: #fff;
}

.card2 {
    grid-column: 2/3;
    grid-row: 1/2;
    background-color: var(--primaryRed);
    
}

.card2 .card-info {
    color: #ced4da;
}

.card3 {
    grid-column: 3/4;
    grid-row: 1/2;
    background-color: #1e1e1e;
}

.experience-box {
    grid-column: 1/2;
    grid-row: 3/5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience-box .years {
    color: var(--primaryRed);
    font-size: 5rem;
    font-weight: 900;
}

.experience-box .text {
    font-size: 1.5rem;
    color: #fff;
}

.client-box {
    grid-column: 2/3;
    grid-row: 3/4;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.exp-box {
    grid-column: 3/4;
    grid-row: 3/4;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.project-box {
    grid-column: 2/3;
    grid-row: 4/5;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.achieve-box {
    grid-column: 3/4;
    grid-row: 4/5;
    background-color: #1e1e1e;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.number {
    color: var(--primaryRed);
    font-size: 2rem;
}

.text {
    font-size: .7rem;
    color: #868e96;
}

/* Project */

#projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr 4fr 4fr;
    gap: 1rem;
    padding: 5rem 10vw;
}

.project-img-container {
    width: 100%;
    object-fit: contain;
    background-color: #1e1e1e;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem 0;
}

.project-img-container img {
    width: 90%;
}

.heading-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.heading-box .heading {
    font-size: 1.5rem;
    text-transform: uppercase;
    font-weight: 700;
}

.heading-box .second-heading {
    font-size: .7rem;
    color: #868e96;
    margin-top: .5rem;
}


.btn-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}

.project-title {
    font-size: 1rem;
    margin: .7rem 0 .4rem 0;
}

/* Contact */

#contact {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5rem 10vw;
    background-color: #1e1e1e;
    padding: 3rem;
}

.contact__left {
    /* width: 40%; */
}

.contact__left-heading {
    font-size: 2rem;
    width: 50%;
    font-weight: 700;
    line-height: 1.1;
}

.contact__left-text {
    font-size: .6rem;
    margin-top: .4rem;
    color: #868e96;
    width: 50%;
}

/* Footer */

.footer-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.2rem;
    margin-bottom: 2rem;
}

.footer-link {
    font-size: .7rem;
    color: #868e96;
    text-transform: uppercase;
}

.footer-container {
    background-color: #1e1e1e;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 1rem 10vw;
}

.logo-container {
    width: 50%;
}

.logo-container img {
    height: 2rem;
}

.social-icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
}

.social-icon-container ion-icon {
    font-size: 1rem;
}

.mob-menu {
    display: none;
}

@media only screen and (max-width : 500px) {
    .mob-menu {
        display: block;
        color: #fff;
        font-size: 1.2rem;
    }

    #header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.3rem 5vw;
    
    }
    
    .logo {
        height: 1.5rem;
    }
    
    .header__nav {
        display: none;
    }



    #hero {
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        padding: 0 5vw;
    
    }
    
    .hero__left img{
        height: 25rem;
    }
    .hero__right {
        width: 90%;
    }
    
    
    .name {
        color: var(--primaryRed);
        font-size: 1rem;
        font-weight: 700;
        
    }
    
    .profession {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: .7rem;
    }
    
    .info {
        color: #868e96;
        font-size: .6rem;
        margin-bottom: 2rem;
        padding-right: 5rem;
    }
    

    #about {
        height: 80vh;
        position: relative;
        padding: 5rem 5vw;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 1fr 1.5fr 1.5fr;
        gap: 1rem;
    }
    
    .about-container {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 50%;
        background-color: #181818;
        z-index: -1;
    }


    #contact {
        flex-direction: column;
        margin: 5rem 5vw;
        background-color: #1e1e1e;
    }
    
    
    .contact__left-heading {
        font-size: 2rem;
        width: 90%;
        text-align: center;
        font-weight: 700;
        line-height: 1.1;
        margin-bottom: 2rem;
    }
    
    .contact__left-text {
        text-align: center;
        font-size: .6rem;
        margin-top: .4rem;
        color: #868e96;
        width: 90%;
        margin-bottom: 2rem;
    }
    
}